.shopsMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
}

.shopList {
  width: 300px;
  padding: 10px;
}
.shop {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 5px auto;
  width: 100%;
  p {
    width: 60%;
    font-size: 15px;
  }
}
