.value {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.arrow {
  color: $PrimaryGreen;
  cursor: pointer;
}
.button {
  background-color: transparent !important;
}
