.loginContainer {
  width: 512px;
  height: 90vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  justify-content: center;

  @media screen and (max-width: $md) {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    h1 {
      font-size: 25px;
    }
  }
  & > p {
    color: rgb(95, 95, 95);
    font-size: 16px;
    margin-top: 10px;
  }
  .form {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    button {
      margin-top: 15px;
      @include PrimaryButton(10px, 100%, $PrimaryGreen);
    }
  }
  & > h3 {
    margin-top: 35px;
    margin-bottom: 35px;
    @media screen and (max-width: $sm) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
