.aboutContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid $PrimaryGreen;
  @media screen and (max-width: $sm) {
    flex-direction: column;
    row-gap: 32px !important;
    align-items: flex-start;
    margin-top: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    @media screen and (max-width: $sm) {
      gap: 5px;
    }
    & > p {
      font-weight: 600;
      @media screen and (max-width: $sm) {
        font-size: 0.8rem;
        margin-top: 20px;
      }
    }
    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      p {
        display: flex;
        gap: 5px;
        span {
          font-weight: 700;
        }
        @media screen and (max-width: $sm) {
          align-items: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}
