.dekstopNavContainer {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  .appBar {
    background-color: $PrimaryWhite !important;

    @media screen and (max-width: $md) {
      display: flex;
      justify-content: center;
      height: 4rem !important;
      background-color: $PrimaryGreen !important;
    }
    .toolbar {
      display: flex !important;
      justify-content: space-between !important;
      .searchContainer {
        width: 50%;
        margin-left: 0;
        @media screen and (max-width: $sm) {
          width: 70%;
        }
        @media screen and (max-width: $md) {
          width: 70%;
          height: 50px;
        }
        .searchInput {
          width: 100%;
        }
      }
      .logo {
        @media screen and (max-width: $md) {
          display: none;
        }
      }
    }
    .icons {
      color: $PrimaryGreen !important;
    }
  }
}
.notificationMenu {
  position: relative !important;
  top: 50px !important;
}
.MuiTooltip-tooltip.MuiTooltip-tooltipArrow.MuiTooltip-tooltipPlacementBottom.css-1k51tf5-MuiTooltip-tooltip {
  background-color: blueviolet !important;
}
