.featuredContainer {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h1 {
      color: $PrimaryBlack;
      @media screen and (max-width: $sm) {
        font-size: 1.5rem;
      }
    }
    .icons {
      margin-right: 1rem;
      display: flex;
      gap: 15px;
      .icon {
        background-color: $SecondaryGrey;
        font-size: 40px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .carousel {
    .singleItem {
      width: 90% !important;
      min-height: 200px;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column;
      gap: 5px;
      border-radius: 20px;
      padding: 20px;
      h4 {
        color: $PrimaryBlack;
        overflow: hidden;
        white-space: nowrap;
      }
      p {
        font-size: 0.8rem;
        font-weight: 600;
        color: $PrimaryGrey;
      }
    }
  }
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @media screen and (max-width: $sm) {
      flex-direction: column;
    }
    .card {
      width: 30%;
      gap: 10px;
      background-position: center;
      background-size: contain;
      padding: 30px;
      height: 200px;
      border-radius: 20px;
      @media screen and (max-width: $sm) {
        width: 100%;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 1.4rem;
        height: 100px;
        @media screen and (max-width: $md) {
          font-size: 1.2rem;
          height: 120px;
        }

        @media screen and (max-width: $sm) {
          height: 90px;
          font-size: 1.5rem;
        }
        @media screen and (max-width: $xss) {
          font-size: 1.3rem;
          height: 90px;
        }
      }
      button {
        @include PrimaryButton(9px, 1rem, $PrimaryGreen);
        @media screen and (max-width: $sm) {
          font-size: 1rem;
        }
      }
    }
    .card1 {
      background-image: url("https://res.cloudinary.com/doircnueq/image/upload/v1635662805/MBeCommerece/banners/banner-1_mcnjym.png");
    }
    .card2 {
      background-image: url("https://res.cloudinary.com/doircnueq/image/upload/v1635662805/MBeCommerece/banners/banner-2_y0cvjq.png");
    }
    .card3 {
      background-image: url("https://res.cloudinary.com/doircnueq/image/upload/v1635662805/MBeCommerece/banners/banner-3_ateusv.png");
    }
  }
}
