.popularProductsContainer {
  width: 100%;
  margin-top: 2rem;

  @media screen and (max-width: $md) {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    h1 {
      margin-bottom: 10px;
    }
  }
  .subCategories {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    p.active {
      color: $PrimaryGreen !important;
    }
    @media screen and (max-width: $md) {
    }
    p {
      font-size: 0.9rem;
      font-weight: 600;
      cursor: pointer;
      @media screen and (max-width: $md) {
      }
    }
  }

  .allProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    @media screen and (max-width: $md) {
      gap: 10px;
    }
    @media screen and (max-width: $sm) {
      gap: 5px;
    }
    @media screen and (max-width: $xss) {
      gap: 0px;
    }

    .notFound {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        background: lighten($color: red, $amount: 48);
        padding: 20px;
        border-radius: 8px;
      }
    }
  }
}
