.updatePassContainer {
  margin-top: 30px;
  @include BoxShadow1;
  border-radius: 10px;
  width: 100%;
  padding: 20px;

  h3 {
    margin-bottom: 10px;
  }
  .inputs {
    margin-top: 10px;
  }
  button {
    display: block !important;
    width: 100%;
    margin: 25px auto;
    @include PrimaryButton(10px, 100%, $PrimaryGreen);
  }
}
