// hero carousel
.heroDots li button:before {
  font-size: 15px !important;
  transition: all 0.4s;
}
.heroDots li.slick-active button:before {
  font-size: 20px !important;
  color: $PrimaryGreen !important;
}

// featured carousel div
// .singleSlide .slick-slide + div {
//   border-radius: 20px;

// }
