.featuresContainer {
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 15px;
  justify-content: space-between;
  margin-bottom: 5%;

  .fade {
    background-color: $SecondaryGrey;
    width: 15%;
    border-radius: 20px;

    @media screen and (max-width: $lg) {
      width: 30%;
    }
    @media screen and (max-width: $sm) {
      width: 100%;
      margin: 0 auto;
    }
    .feature {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 15px;
      gap: 15px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        transition: 0.6s;
        transform: translateY(-10px);
      }
      @media screen and (max-width: $sm) {
        justify-content: space-evenly;
      }

      h2 {
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
