.announceContainer {
  width: 100%;
  text-align: center;
  background-color: $PrimaryWhite;
  color: $PrimaryGreen;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    padding-top: 2px;
    font-size: 1rem;
  }
  @media screen and (min-width: $md) {
    display: none;
  }
}
