.allProducts {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    span {
      color: $PrimaryGreen;
      font-weight: 700;
    }
    @media screen and (max-width: $sm) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-top: 3%;
    }
  }
}
