.bannerContainer {
  margin-top: 4%;
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .content {
    margin-left: 4%;
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
    .routes {
      display: flex;
      padding: 10px;
      font-weight: 700;
      gap: 20px;
      .route:first-child {
        color: $PrimaryGreen;
      }
      .route {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
