.cartDrawerContainer {
  min-width: 320px;
  width: 450px;
  @media screen and (max-width: $sm) {
    width: 100vw;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #eef2ff;
    width: inherit;
    padding: 20px;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    height: 70px;
    h3 {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 17px;
    }
    p {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 15px;
      color: $PrimaryGrey;
      cursor: pointer;
    }
  }
  .allProducts {
    margin-top: 75px;
    width: 100%;
    // padding: 0 10px;
    display: flex;
    flex-direction: column;
  }
  .footer {
    position: fixed;
    background-color: white;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 80px;
    .checkout {
      background-color: $PrimaryGreen;
      display: flex;
      padding: 10px 20px;
      color: white;
      width: 60%;
      border-radius: 10px;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
      @media screen and (max-width: $sm) {
        width: 85%;
      }
      h4 {
        background-color: white;
        color: $PrimaryGreen;
        padding: 5px 8px;
        border-radius: 5px;
      }
    }
  }
}
