.dekstopNavContainer {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  .appBar {
    background-color: $PrimaryWhite !important;

    @media screen and (max-width: $md) {
      display: flex;
      justify-content: center;
      height: 4rem !important;
      // background-color: $PrimaryGreen !important;
    }
    .toolbar {
      display: flex !important;
      justify-content: space-between !important;
      .searchContainer {
        width: 50%;
        margin-left: 0;
        position: relative;
        @media screen and (max-width: $sm) {
          width: 70%;
        }
        @media screen and (max-width: $md) {
          width: 70%;
          height: 50px;
        }
        .searchInput {
          width: 100%;
        }

        .suggestionContainer {
          color: black;
          position: absolute;
          top: 4rem;
          background-color: white;
          width: 100%;

          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
      }
      .logo {
        cursor: pointer;
        @media screen and (max-width: $md) {
          display: none;
        }
      }
    }
    .icons {
      color: $PrimaryGreen !important;
    }
  }
}
.notificationMenu {
  position: relative !important;
  top: 50px !important;
}
