// colors
$PrimaryGreen: #3bb77e;
$PrimaryGrey: #7e7e7e;
$PrimaryWhite: #ffffff;
$SecondaryGreen: #def9ec;
$PrimaryBlack: #253d4e;
$SecondaryGrey: #f2f3f4;
$PrimaryPink: #f74b81;

// shadows
$PrimaryShadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

$PrimaryFont: "Quicksand", sans-serif;
$secondaryFont: "Lato", sans-serif;

// devices
$xss: 360px;
$sm: 580px;
$md: 960px;
$lg: 1200px;
$xl: 1600px;
